:root {
    --white: #fff;
    --black: #fff;

    --logo-bg: #005bab;
    --border-radius50: 50px;

    --border-gray: #e6e6e6;
    --bg-gray:  #f5f5f5;
    --Neris: "Neris", sans-serif;
    --color: #1e1e1e;

    --brand-red: #ee3124;

    //переопределение переменных бутрстрап
    --bs-link-color: #1e1e1e;
    --bs-link-hover-color: #1e1e1e;
}