@use './normalize.scss';
@use './fonts';
@use './variables';

@use './blocks/header';
@use './blocks/accordion';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: var(--bg-gray);
}

section {
    padding: 111px 0 107px 0;
}

.white-bg {
    background: var(--white);
}

.gray-bg {
    background: var(--bg-gray);

}

h2,
h2.h2 {

    color: var(--color);
}

h3,
h3.h3 {

    color: var(--color);

}

.wrapper {
    max-width: 1170px;
}

@media (max-width:375px) {

    h3,
    h3.h3 {
        font-size: 20px;
    }

    h2,
    h2.h2 {

        font-size: 30px;
        line-height: 150%;
    }
}