<div class="container banner-block mx-auto wrapper">
    <div class="banner">
        <div class="banner-body">
            <div class="content-body-text">
                <div class="fw-bolder banner-title text-center">
                    Deserunt mollit anim id est laborum perspiciatis unde
                </div>
                <div class="banner-text fw-light lh-sm text-center">
                    Quia voluptas sit aspernatur voluptas
                </div>
            </div>

            <button class="btn btn-primary text-uppercase fw-bolder banner_btn">Lorem ipsum dolor sit amet</button>
        </div>
    </div>
</div>